<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_campusconnect"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_campusconnect"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- Only ONE launcher activity: Splash -->
        <activity
            android:name=".startup.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity android:name=".startup.MainActivity" android:exported="false" />
        <activity android:name=".authActivity.Login" android:exported="false" />
        <activity android:name=".authActivity.signup" android:exported="false" />
        <activity android:name=".testDB.DB_test" android:exported="false" />
        <activity android:name=".LostANDFound.add_lost_found_items" android:exported="false" />
        <activity android:name=".Community.addPost_community" android:exported="false" />
        <activity android:name=".Community.full_post_community" android:exported="false" />
        <activity android:name=".LostANDFound.details_lost_found" android:exported="false" />
        <activity android:name=".Home.Home" android:exported="false" />
        <activity android:name=".startup.OnboardingActivity" android:exported="false" />


    </application>

</manifest>
